* {
  list-style-type: none;
}
.navbar {
  display: flex;
  flex-flow: row nowrap;
  font-size: 14px;
  justify-content: space-between;
  align-items: baseline;
}
.navbar > li {
  margin: 5px 50px;
}
.container {
  width: 80%;
  margin: 0 auto;
}

section {
  width: 30%;
  margin: 20px 10px;
  text-align: center;
}
.btnDownload {
  color: red;
  margin: 5px 5px;
}
.pictures {
  display: flex;
  flex-flow: row wrap;
}
